/*
Default style map, automatically loaded into any created svg map
*/
.svg-map {
  max-width: 100%;
  height: auto;
  stroke: #666;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round; }
  .svg-map__location {
    fill: #a1d99b;
    cursor: pointer; }
    .svg-map__location:focus, .svg-map__location:hover {
      fill: #b8e2b3;
      outline: 0; }
    .svg-map__location[aria-checked="true"] {
      fill: #f4bc44; }
/*
Red theme, used for wrong answers
*/
.red {
  width: 100%;
  height: auto;
  stroke: #666;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round; }
  .red-svg-map__location {
    fill: #ff2b2b;
    cursor: pointer; }
    .red-svg-map__location:focus, .red-svg-map__location:hover {
      fill: #944a1f;
      outline: 0; }
      .red-svg-map__location[aria-checked="true"] {
      fill: #f4bc44; }

/*
Green theme, used for good answers
*/
.green {
  width: 100%;
  height: auto;
  stroke: #666;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round; }
  .green-svg-map__location {
    fill: #13b621;
    cursor: pointer; }
    .green-svg-map__location:focus, .green-svg-map__location:hover {
      fill: #7beb6e;
      outline: 0; }
      .green-svg-map__location[aria-checked="true"] {
      fill: #0baf0b; }

/*
Default style map, automatically loaded into any created svg map
*/
.unselect-svg-map {
max-width: 100%;
height: auto;
stroke: #666;
stroke-width: 1;
stroke-linecap: round;
stroke-linejoin: round; }
.unselect-svg-map__location {
  fill: #a1d99b;
  cursor: pointer; }
  .unselect-svg-map__location:focus, .unselect-svg-map__location:hover {
    fill: #b8e2b3;
    outline: 0; }
  .unselect-svg-map__location[aria-checked="true"] {
    fill: #f4bc44; }
